/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/* sucess message styling */
.statusmessage-success {
    margin: 20px 20px 20px 20px;
    font-family: "Helvetica", "Arial", sans-serif;
    color: seagreen;
    font-style: italic;
    font-weight: bolder;
    font-size: xx-large;
}

/* failure message styling */
.statusmessage-failure {
    margin: 20px 20px 20px 20px;
    font-family: "Helvetica", "Arial", sans-serif;
    color: dodgerblue;
    font-weight: bolder;
    font-size: xx-large;
}

/* noentry message styling */
.statusmessage-noentry {
    margin: 20px 20px 20px 20px;
    font-family: "Helvetica", "Arial", sans-serif;
    color: white;
    font-weight: bolder;
    font-size: large;
    background-color: red;
    text-align:center;
}

/* invalid email message styling */
.statusmessage-invalid {
    margin: 20px 20px 20px 20px;
    font-family: "Helvetica", "Arial", sans-serif;
    color: indigo;
    font-weight: bolder;
    font-size: xx-large;
}

/* margin for the button */
#firstButton {
    margin: 30px 30px 30px 30px;
}